.feedback {
  width: 100%;
  background: #fff;
  padding-bottom: 80px;
}
@media (max-width: 920px) {
  .feedback {
    padding-bottom: 50px;
  }
}
@media (max-width: 920px) {
  .feedback {
    padding-bottom: 40px;
  }
}
.feedback .container {
  flex-direction: column;
}
.feedback .feedback__cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
  position: relative;
  /* Custom styles for Swiper navigation arrows */
  /* Arrow icons */
  /* Next button - position */
  /* Prev button - position */
}
@media (max-width: 576px) {
  .feedback .feedback__cards {
    margin-top: 30px;
  }
}
.feedback .feedback__cards .feedback .feedback__cards .swiper {
  left: 10px;
  position: relative;
  padding-bottom: 80px;
}
.feedback .feedback__cards .swiper-slide,
.feedback .feedback__cards .swiper-ios .swiper-slide,
.feedback .feedback__cards .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  padding-bottom: 40px;
}
@media (max-width: 576px) {
  .feedback .feedback__cards .swiper-slide,
  .feedback .feedback__cards .swiper-ios .swiper-slide,
  .feedback .feedback__cards .swiper-wrapper {
    padding-bottom: 30px;
  }
}
.feedback .feedback__cards .swiper-button-next,
.feedback .feedback__cards .swiper-button-prev {
  color: #000; /* Change arrow color */
  background-color: #fff; /* Background color of buttons */
  border-radius: 50%; /* Rounded shape */
  width: 40px; /* Width of the button */
  height: 40px; /* Height of the button */
  display: flex; /* Centering arrow icon */
  align-items: center; /* Centering arrow icon */
  justify-content: center; /* Centering arrow icon */
}
.feedback .feedback__cards .swiper-button-next::after,
.feedback .feedback__cards .swiper-button-prev::after {
  font-size: 20px; /* Size of the arrow icon */
}
.feedback .feedback__cards .swiper-button-next {
  right: 10px;
  top: auto;
  bottom: 0px;
}
@media (max-width: 576px) {
  .feedback .feedback__cards .swiper-button-next {
    right: 40px;
  }
}
.feedback .feedback__cards .swiper-button-prev {
  left: auto;
  top: auto;
  bottom: 0;
  right: 50px; /* Distance from the left edge */
}
@media (max-width: 576px) {
  .feedback .feedback__cards .swiper-button-prev {
    left: 40px;
    top: auto;
    bottom: 0;
    right: auto;
  }
}
.feedback .feedback__cards .feedback__card {
  display: flex;
  max-width: 420px;
  width: 100%;
  min-height: 355px;
  padding: 20px 15px;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.25s;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media (max-width: 576px) {
  .feedback .feedback__cards .feedback__card {
    max-width: 100%;
  }
}
.feedback .feedback__cards .feedback__card--name {
  color: #1a1a1a;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 12px;
}
.feedback .feedback__cards .feedback__card--date {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.feedback .feedback__cards .feedback__card--descr {
  overflow: hidden;
  color: #7b8a99;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px; /* 16.8px */
  margin-bottom: 50px;
}
.feedback .feedback__cards .feedback__card--btn {
  padding: 0;
  color: #007bff;
  background: none;
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=feedback.css.map */