// src/components/Sidebar.scss
.sidebar {
  width: 250px;
  background-color: #fcfcfc;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .logo {
    margin: 33px 0 34px 0;
  }

  .dropdown {
    width: 100%;
    height: auto;

    border-radius: 10px;
    border: 1px solid #007bff;
    overflow: hidden;

    margin-bottom: 30px;

    .btn-primary {
      display: block;
      width: 210px;
      //   width: 100%;

      color: white;
      padding: 13px 0px;

      font-size: 16px;

      border-radius: 8px;
      background: #007bff;
      //   position: relative;

      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.72px;
      margin-top: -1px;
    }

    .dropdown-content {
      width: 210px;
      display: flex;
      flex-direction: column;
      gap: 11px;
      //   position: absolute;
      background-color: white;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      //   width: 100%;
      border-radius: 4px;

      padding: 10px 0;

      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-left: 10px;

        &:hover {
          background-color: #e2e6ea;
        }

        img {
          width: 32px;
          height: 32px;
        }

        a {
          color: black;
          padding: 10px 0px;
          text-decoration: none;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
      color: #121212;

      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 21.6px; /* 21.6px */
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #e2e6ea;
      }
    }
  }

  .sidebar__bottom {
    margin-top: auto;
    width: 100%;

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      p {
        color: #121212;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        font-family: "Montserrat", sans-serif;
      }

      span {
        color: #121212;
        text-align: right;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
      }
    }

    .progress-bar {
      background-color: #e2e6ea;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 10px;

      .progress {
        height: 10px;
        background-color: #007bff;
      }
    }

    .btn {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 17px; /* 16.8px */
    }
  }
}
